footer{
    margin-top: auto;
    background-color: #ffffff;
    height: 60px;
    width: 100%;
    border: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
}