.container .filters{
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.container .filters button{
    font-size: 18px;
    background-color: #ff5a5f;
    color: #ffffff;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 30px;
}
.container .filters button:hover{
    opacity: 90%;
}
.container .filters .locations, .amenities{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
}
.container .filters .locations{
    border-right: 1px solid #dddddd;
}
.container .filters .locations h3, .amenities h3{
    font-weight: 600;
}
.container .filters .locations h4, .amenities h4{
    font-weight: 400;
    font-size: 14px;
}